
@{
    ViewBag.Title = "hakkimda";
    Layout = "~/Views/Shared/_Layaout.cshtml";
}

<link rel="stylesheet" href="~/Content/wp-content/circular.css" />
<style>
    .hakkimda-icerik {
        margin: 10px;
        padding: 10px;
    }

        .hakkimda-icerik h1 {
            font-size: 25px;
        }

    .hakkimda-img img {
        margin-top: 20px;
        float: right;
        border: 8px solid #eeeeee;
        width: 345px;
        height: 375px;
        border-radius: 10px;
    }

    .entry-content p {
        margin-top: 20px;
    }
</style>


<div class="page-title hu-pad group">
    <h2> - Samet Mirza Karakaya - www.sametmirzakarakaya.com <span class="hu-blog-subheading">Hakkımda</span></h2>

</div><!--/.page-title-->


<div class="hakkimda-icerik">

    <h1>Hakkımda</h1>
    <div class="hakkimda-img">
        <img src="~/Content/siteimage.jpeg" />
    </div>

    <div class="entry-content clearfix">
        <p>
            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/

            <br />
            <br />
            <br />





            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/


            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com



            Github Link: https://github.com/developerkarakaya/
            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/

            <br />
            <br />
            <br />





            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/


            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/
            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/

            <br />
            <br />
            <br />





            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/


            Hello, I am Abdulsamet KARAKAYA computer engineering student.

            During my university education, I tried to improve myself and thanks to my internship and freelance work, I found myself in Asp.Net Mvc, Asp.Net Mvc Web Api, Restful Api, SQL, C#, Java, Html, Css, JavaScript, Angular Js, Flutter fields. I tried to improve myself. And I developed many projects. I continue to develop and learn.


            The website where I shared my articles: www.sametmirzakarakaya.com

            Github Link: https://github.com/developerkarakaya/


        </p>

    </div>



</div>



@Html.Action("getSkills", "Article");


<script>
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>