
<div id="topbar-header-search" class="container">
    <div class="container-inner">
        <button class="toggle-search"><i class="fas fa-search"></i></button>
        <div class="search-expand">
            <div class="search-expand-inner">
                <form role="search" method="get" class="search-form" action="/search">
                    <label>
                        <span class="screen-reader-text">Arama:</span>
                        <input type="search" class="search-field" placeholder="Ara &hellip;" id="search-key" value="" name="s" />
                    </label>
                    <input type="submit" class="search-submit" id="btn-search" value="Ara" />
                </form>
            </div>
        </div>
    </div><!--/.container-inner-->
</div><!--/.container-->



